# Real State Data Exploratory Analysis

In [26]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
# Basics for Data Analysis 
import numpy as np
import pandas as pd
# Basics for Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

og_set = original data set

In [28]:
og_set = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/data_sets/Melbourne_Housing.csv")

##  Data Sanity Check

Basic knowlege of the data frame 
1. head()
2. shape
3. info()
4. describe()

In [29]:
og_set.head() # also can use tail()

,Suburb,Rooms,Type,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Regionname,Propertycount,Price
0,Airport West,3,t,Nelson,03-09-2016,13.5,3042.0,3.0,2.0,1.0,303.0,225,2016.0,Western Metropolitan,3464,840000
1,Albert Park,2,h,hockingstuart,03-09-2016,3.3,3206.0,2.0,1.0,0.0,120.0,82,1900.0,Southern Metropolitan,3280,1275000
2,Albert Park,2,h,Thomson,03-09-2016,3.3,3206.0,2.0,1.0,0.0,159.0,inf,NaN,Southern Metropolitan,3280,1455000
3,Alphington,4,h,Brace,03-09-2016,6.4,3078.0,3.0,2.0,4.0,853.0,263,1930.0,Northern Metropolitan,2211,2000000
4,Alphington,3,h,Jellis,03-09-2016,6.4,3078.0,3.0,2.0,2.0,208.0,inf,2013.0,Northern Metropolitan,2211,1110000

In [30]:
og_set.shape

(27114, 16)

In [31]:
og_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27114 entries, 0 to 27113
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         27114 non-null  object
 1   Rooms          27114 non-null  int64
 2   Type           27114 non-null  object
 3   SellerG        27114 non-null  object
 4   Date           27114 non-null  object
 5   Distance       27113 non-null  float64
 6   Postcode       27113 non-null  float64
 7   Bedroom        20678 non-null  float64
 8   Bathroom       20672 non-null  float64
 9   Car            20297 non-null  float64
 10  Landsize       17873 non-null  float64
 11  BuildingArea   10543 non-null  object
 12  YearBuilt      11985 non-null  float64
 13  Regionname     27114 non-null  object
 14  Propertycount  27114 non-null  int64
 15  Price          27114 non-null  int64
dtypes: float64(7), int64(3), object(6)
memory usage: 3.3+ MB

In [32]:
og_set.describe()

,Rooms,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,YearBuilt,Propertycount,Price
count,27114.000000,27113.000000,27113.000000,20678.000000,20672.000000,20297.000000,17873.000000,11985.000000,27114.000000,2.711400e+04
mean,2.992218,11.278737,3113.782687,3.046184,1.591525,1.715820,560.536564,1966.618273,7564.205245,1.050564e+06
std,0.954722,6.783544,111.114271,0.955024,0.701106,0.994487,1411.309127,36.042000,4493.596054,6.415785e+05
min,1.000000,0.000000,3000.000000,0.000000,0.000000,0.000000,50.000000,1850.000000,83.000000,8.500000e+04
25%,2.000000,6.400000,3046.000000,2.000000,1.000000,1.000000,220.000000,1950.000000,4294.000000,6.350000e+05
50%,3.000000,10.500000,3088.000000,3.000000,1.000000,2.000000,513.000000,1970.000000,6567.000000,8.710000e+05
75%,4.000000,14.000000,3153.000000,4.000000,2.000000,2.000000,664.000000,2000.000000,10412.000000,1.300000e+06
max,16.000000,48.100000,3978.000000,20.000000,9.000000,18.000000,76000.000000,2019.000000,21650.000000,1.120000e+07

In [33]:
# Building area should be a numeric type of value but it is as a string(object) 
type("BuildingArea")

str

In [34]:
# And if we have a date in a data set as an string(object) it is recommended to change it to a real date format 
type("Date")

str

In [35]:
og_set["Date"] = pd.to_datetime(og_set["Date"])

In [36]:
og_set.info() # now date is in datatime64 dtype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27114 entries, 0 to 27113
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         27114 non-null  object
 1   Rooms          27114 non-null  int64
 2   Type           27114 non-null  object
 3   SellerG        27114 non-null  object
 4   Date           27114 non-null  datetime64[ns]
 5   Distance       27113 non-null  float64
 6   Postcode       27113 non-null  float64
 7   Bedroom        20678 non-null  float64
 8   Bathroom       20672 non-null  float64
 9   Car            20297 non-null  float64
 10  Landsize       17873 non-null  float64
 11  BuildingArea   10543 non-null  object
 12  YearBuilt      11985 non-null  float64
 13  Regionname     27114 non-null  object
 14  Propertycount  27114 non-null  int64
 15  Price          27114 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(3), object(5)
memory usage: 3.3+ MB

In [37]:
og_set["BuildingArea"].unique()

array(['225', '82', 'inf', '263', '242', '251', '117', 'missing', '76',
       '399', '118', '103', '180', '123', '218', '129', '167', '154',
       '275', '121', nan, '125', '255', '75', '156', '240', '268', '108',
       '69', '140', '214', '253', '189', '215', '96', '104', '100', '313',
       '144', '93', '110', '70', '122', '51', '147', '113', '83', '56',
       '137', '85', '64', '175', '3558', '170', '265', '353', '138', '19',
       '116', '87', '74', '320', '300', '210', '120', '86', '97', '200',
       '106', '14', '161', '128', '185', '146', '133', '115', '143',
       '150', '195', '236', '276', '188', '179', '249', '141', '34', '73',
       '107', '84', '81', '207', '50', '264', '312', '235', '221', '183',
       '132', '160', '186', '78', '105', '145', '62', '220', '315', '181',
       '61', '112', '420', '226', '266', '410', '449', '356', '477',
       '250', '95', '190', '284', '247', '213', '209', '119', '111',
       '130', '348', '166', '44', '176', '98', '159', '79', '71', '60',
       '33', '89', '217', '127', '187', '109', '53', '201', '12', '63',
       '223', '102', '254', '327', '16', '165', '65', '139', '134', '280',
       '67', '272', '38', '153', '66', '152', '135', '374', '163', '124',
       '233', '39', '151', '279', '136', '405', '199', '158', '126', '80',
       '57', '36', '142', '77', '435', '92', '149', '114', '349', '178',
       '594', '274', '40', '68', '164', '204', '94', '257', '323', '314',
       '378', '55', '91', '309', '88', '58', '172', '211', '148', '49',
       '52', '174', '191', '335', '808', '168', '203', '520', '212',
       '222', '171', '228', '101', '267', '90', '196', '157', '99', '256',
       '15', '155', '162', '72', '252', '330', '177', '341', '197', '340',
       '182', '245', '270', '42', '229', '232', '131', '297', '237',
       '194', '173', '46', '360', '205', '45', '365', '321', '37', '304',
       '54', '305', '244', '43', '41', '22', '169', '59', '258', '230',
       '287', '618', '792', '355', '202', '395', '351', '325', '248',
       '224', '426', '286', '308', '198', '260', '291', '277', '281',
       '216', '262', '364', '30', '192', '47', '184', '25', '558', '362',
       '375', '347', '241', '475', '413', '400', '101.37', '219', '239',
       '123.21', '140.7481', '86.5', '30.6', '225.5', '322', '409.54',
       '26', '156.6', '227.6', '104.63', '193', '443', '167.13', '148.5',
       '270.18', '53.3', '98.5', '157.9351', '328', '94.3', '21', '310',
       '95.88', '261', '105.7', '72.9', '45.4', '221.3', '113.2',
       '186.75', '540', '127.8', '231', '106.4', '311', '234', '332',
       '206', '259', '246', '296', '269', '306', '380', '302', '48',
       '278', '35', '208', '467', '283', '458', '196.8', '106.2', '32',
       '424', '430', '243', '290', '511', '500', '531', '508', '333',
       '72.3', '66.23', '101.51', '292', '112.9', '99.5', '77.5', '293',
       '105.23', '352', '391', '121.8', '82.6', '136.49', '502', '680',
       '157.9352', '126.8', '100.6', '44.4', '151.54', '20', '397', '495',
       '331', '294', '334', '303', '318', '273', '584', '958', '288',
       '342', '354', '350', '465', '337', '317', '298', '529', '697',
       '289', '602', '6791', '534', '227', '429', '802', '373', '358',
       '238', '316', '393', '180.9', '826.8367', '366', '307', '625',
       '419', '94.5', '392', '28', '116.65', '11', '134.6', '282',
       '183.84', '431', '126.7', '18', '295', '390', '447', '271', '416',
       '370', '660', '463', '361', '496', '324', '173.45', '134.3',
       '464.3', '76.77', '113.76', '107.4', '255.79', '186.36', '490',
       '103.6', '63.7', '106.76', '39.5', '423', '319', '437', '285',
       '453', '472', '418', '487', '31', '301', '116.4', '182.85',
       '109.5', '129.7', '665', '398', '148.47', '553', '182.9', '184.75',
       '193.74', '68.5', '336', '346', '719', '3112', '414', '372', '525',
       '367', '1561', '454', '720', '329', '381', '677', '439', '857',
       '23', '503', '432', '377', '512', '425', '406', '389', '521',
       '6178', '654', '727', '417', '560', '168.01', '306.19', '515.78',
       '196.1', '789', '131.27', '167.87', '183.97', '199.5', '29', '446',
       '75.45', '165.5', '263.5', '585', '516', '345', '27', '444', '427',
       '326', '518', '13', '411', '1022', '339', '461', '376', '513',
       '836', '464', '386', '603', '613', '179.3', '142.6', '147.2',
       '225.98', '113.81', '401', '737', '530', '82.3', '110.87', '450',
       '673', '109.98', '122.25', '105.9', '101.7', '106.9', '93.82',
       '132.6', '154.3', '178.74', '88.3', '80.7', '89.25', '181.6',
       '104.4', '180.56', '123.5', '1143', '506', '575', '859', '653',
       '999', '445', '438', '686', '649', '736', '371.6122', '199.73',
       '118.54', '298.21', '169.5', '42.2', '135.5', '266.76', '272.4',
       '177.8', '139.4', '700', '766', '538', '528', '650', '368', '544',
       '557', '396', '638', '101.76', '363', '634', '195.0964', '470',
       '130.52', '547', '111.04', '63.4', '92.5', '115.96', '121.84',
       '122.86', '114.2', '266.53', '78.54', '85.35', '1041', '607',
       '478', '407', '344', '338', '501', '448', '357', '408', '412',
       '466', '739', '614', '421', '385', '68.11', '153.1', '85.2',
       '93.84', '124.45', '210.68', '200.71', '81.79', '934', '129.92',
       '43.7', '113.6', '66.32', '35.64', '61.6', '388.5', '672'],
      dtype=object)

In [38]:
# there are some strings into this particular column that change the whole dtype 
# with a quick scan you can say its "inf" and "missing"
# so what we will try to do is to change those strings into something py understands (nan)

In [39]:
# check how many are strings and how many are actually numeric values 
og_set["BuildingArea"].apply(type).value_counts()

<class 'float'>    16571
<class 'str'>      10543
Name: BuildingArea, dtype: int64

In [40]:
# using numpy replace we will change the strings inf and missing with not a number
og_set["BuildingArea"] = og_set["BuildingArea"].replace(["inf", "missing"], np.nan)
# there is other way to do oit throught importing again the data set and adding at the end
# "link to the dataset", na_values = ["missing", "inf"]

In [41]:
# now to be able to work properly with ease we will make every entry of the column a float 
og_set["BuildingArea"] = og_set["BuildingArea"].astype(float)

In [42]:
og_set["BuildingArea"].apply(type).value_counts()

<class 'float'>    27114
Name: BuildingArea, dtype: int64

In [43]:
# to know how many nan are
og_set.isnull().sum()

Suburb               0
Rooms                0
Type                 0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom           6436
Bathroom          6442
Car               6817
Landsize          9241
BuildingArea     16585
YearBuilt        15129
Regionname           0
Propertycount        0
Price                0
dtype: int64

In [44]:
# as you can see distance to yearbuildt 
#8 columns

In [45]:
# to know if theres dupliates 
og_set.duplicated().sum()

11

In [46]:
# lets remove those duplicates 
og_set.drop_duplicates(inplace=True)
# this last line of code ruins the index so lets fix the index 
og_set.reset_index(drop=True, inplace=True)

In [47]:
# now we dont have duplicates
og_set.duplicated().sum()

0

In [48]:
og_set.describe().T

,count,mean,std,min,25%,50%,75%,max
Rooms,27103.0,2.992473e+00,0.954667,1.0,2.0,3.0,4.0,16.0
Distance,27102.0,1.127993e+01,6.783958,0.0,6.4,10.5,14.0,48.1
Postcode,27102.0,3.113787e+03,111.129025,3000.0,3046.0,3088.0,3153.0,3978.0
Bedroom,20678.0,3.046184e+00,0.955024,0.0,2.0,3.0,4.0,20.0
Bathroom,20672.0,1.591525e+00,0.701106,0.0,1.0,1.0,2.0,9.0
Car,20297.0,1.715820e+00,0.994487,0.0,1.0,2.0,2.0,18.0
Landsize,17873.0,5.605366e+02,1411.309127,50.0,220.0,513.0,664.0,76000.0
BuildingArea,10529.0,1.545119e+02,130.583872,11.0,101.0,133.0,183.0,6791.0
YearBuilt,11985.0,1.966618e+03,36.042000,1850.0,1950.0,1970.0,2000.0,2019.0
Propertycount,27103.0,7.564741e+03,4494.028347,83.0,4294.0,6567.0,10412.0,21650.0
Price,27103.0,1.050664e+06,641660.161498,85000.0,635000.0,871000.0,1300000.0,11200000.0

In [53]:
#postcode it apears a number even though we know it should be more a string so lets see 
# the total number of unique values in the postcode column 
og_set["Postcode"].nunique() 
# unique gives you all 
# nunique the number of unique values

209

In [58]:
# lets see the number of categorical variables 
# this is a really useful code
categorical_columns = ["Suburb", "Type", "SellerG", "Regionname"]
for i in categorical_columns:
    print(og_set[i].value_counts())
    print("-" * 50)

Reservoir         724
Bentleigh East    493
Richmond          437
Preston           410
Brunswick         383
                 ...
Wandin North        1
Ferny Creek         1
Tecoma              1
Montrose            1
viewbank            1
Name: Suburb, Length: 345, dtype: int64
--------------------------------------------------
h    18394
u     5882
t     2827
Name: Type, dtype: int64
--------------------------------------------------
Nelson           2733
Jellis           2516
Barry            2385
hockingstuart    2096
Ray              1574
                 ...
Allan               1
Jim                 1
iProperty           1
Batty               1
Icon                1
Name: SellerG, Length: 347, dtype: int64
--------------------------------------------------
Southern Metropolitan         8480
Northern Metropolitan         7809
Western Metropolitan          5792
Eastern Metropolitan          3264
South-Eastern Metropolitan    1336
Northern Victoria              165
Eastern Victoria               163
Western Victoria                94
Name: Regionname, dtype: int64
--------------------------------------------------

In [60]:
# lets see it but in percentage 
for i in categorical_columns:
    print(og_set[i].value_counts(normalize = True))
    print("-" * 50)

Reservoir         0.026713
Bentleigh East    0.018190
Richmond          0.016124
Preston           0.015127
Brunswick         0.014131
                    ...
Wandin North      0.000037
Ferny Creek       0.000037
Tecoma            0.000037
Montrose          0.000037
viewbank          0.000037
Name: Suburb, Length: 345, dtype: float64
--------------------------------------------------
h    0.678670
u    0.217024
t    0.104306
Name: Type, dtype: float64
--------------------------------------------------
Nelson           0.100838
Jellis           0.092831
Barry            0.087998
hockingstuart    0.077335
Ray              0.058075
                   ...
Allan            0.000037
Jim              0.000037
iProperty        0.000037
Batty            0.000037
Icon             0.000037
Name: SellerG, Length: 347, dtype: float64
--------------------------------------------------
Southern Metropolitan         0.312880
Northern Metropolitan         0.288123
Western Metropolitan          0.213703
Eastern Metropolitan          0.120429
South-Eastern Metropolitan    0.049293
Northern Victoria             0.006088
Eastern Victoria              0.006014
Western Victoria              0.003468
Name: Regionname, dtype: float64
--------------------------------------------------

### Analysis post sanity check of the data set 


### **Preliminary** Results

*   The ds had some issues with strings making a whole column an object dtype so I changed that, remove any kind of string and replacing them with nan 
*   The date was not in datetime64 dtype so it had to be done manually 
*   There are probably outliers because some of the max values in the columns rooms, bedrooms, bathroom and cars
*  Reservoir is the suburn with more entrys, h the type of house more common, Nelson the guy with more sells and the southern metropolitan is the region with more houses in this particular dataset